.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./00.jpg');
  background-size: cover;
  background-position: center;
}

.my-card {
  content: center;
  width: 25%;
  height: 20%;
  margin-top: 4%;
  position: absolute;
  top: 10%;
color: rgb(0, 0, 0);
text-shadow: 0 2px 4px  rgb(255, 255, 255);
text-overflow: unset;

text-align: center;
}

.greeting {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 100px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(0, 255, 85);
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10px;
  right: 10px;
  
}

.product-image {
  width: 100%;
  height: 100%;
  position: center;

}

